*{
    margin: 0px;
    padding: 0px;

}

body{
width: 1000px;
margin: 0 auto;
}

/*HEADER*/

header {

    
    background:#4b4b4d;
    height: 120px;
    width:1000px;
    margin-top: 20px;
    padding-top:1px;
    
}

.iconos{
    background-color:;
    width: 140px;
    float: right;
    height: 40px;
    margin-top: 40px;
    margin-right: 20px;
    
}

.fas{

    color: #e6e7e9;
    font-size: 40px;
    margin-left:2.9px;

}

.recuadro {
    width:200px;
    height: 60px;
    background: #d2d3d5;
    margin-top:30px;
    margin-left: 30px;
    float: left;
    
    
}

/*NAV MENU*/

ul {
    list-style-type: none;
    width:1000px;
    margin:0 auto;
    height: 60px;
    margin-top:20px;
    
}

li{
    float: left;
}

li a {
    
    display: inline-block;
    width:199px;
    background: #97989a;
    height: 60px;
    margin-right:1px;
    
}

/*CONTENT*/

section.images {

    margin-top:20px;
    width: 1000px;
    height: 190px;
    float: left;


    }


 article.left{
    
    width:328px;
    height:190px;
    background: #97989a;
    float: left;
}

article.middle {
   
    margin-left: 8px;
    width:328px;
    height:190px;
    background: #97989a;
    float: left;

}

article.right {
    
    margin-left: 8px;
    width:328px;
    height:190px;
    background: #97989a;
    float: left;

    
    }

section.content{
    margin-top: 20px;
    width: 1000px;
    height: 450px;
    float: left;
}

aside.left {

    width:200px;
    height: 450px;
    background: #97989a;
    float: left;
    }


.main {
        
        
    width: 600px;
    height: 450px;
    background: #4b4b4d;
    float: left;
        
    }

.aside-right {

    width:200px;
    height: 450px;
    background: #97989a;
    float: left;
        

    }

    footer {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 1000px;
        height:70px;
        background:#4b4b4d;
        float: left;
    }

    

    
        
        

    




    


